.OBTreeGridCell,
.OBTreeGridCellOver,
.OBTreeGridCellDark,
.OBTreeGridCellOverDark,
.OBTreeGridCellSelected,
.OBTreeGridCellSelectedDark,
.OBTreeGridCellSelectedOver,
.OBTreeGridCellSelectedOverDark,
.OBTreeGridCellDisabled,
.OBTreeGridCellDisabledDark,

.OBTreeGridCellSelectedViewInactive,
.OBTreeGridCellSelectedViewInactiveDark,

.OBTreeGridCellEdit,
.OBTreeGridCellEditOver,
.OBTreeGridCellEditDark,
.OBTreeGridCellEditOverDark,
.OBTreeGridCellEditSelected,
.OBTreeGridCellEditSelectedDark,
.OBTreeGridCellEditSelectedOver,
.OBTreeGridCellEditSelectedOverDark,
.OBTreeGridCellEditDisabled,
.OBTreeGridCellEditDisabledDark,

.OBTreeGridCellError,
.OBTreeGridCellErrorOver,
.OBTreeGridCellErrorDark,
.OBTreeGridCellErrorOverDark,
.OBTreeGridCellErrorSelected,
.OBTreeGridCellErrorSelectedDark,
.OBTreeGridCellErrorSelectedOver,
.OBTreeGridCellErrorSelectedOverDark,
.OBTreeGridCellErrorDisabled,
.OBTreeGridCellErrorDisabledDark,

.OBTreeGridCellErrorEdit,
.OBTreeGridCellErrorEditOver,
.OBTreeGridCellErrorEditDark,
.OBTreeGridCellErrorEditOverDark,
.OBTreeGridCellErrorEditSelected,
.OBTreeGridCellErrorEditSelectedDark,
.OBTreeGridCellErrorEditSelectedOver,
.OBTreeGridCellErrorEditSelectedOverDark,
.OBTreeGridCellErrorEditDisabled,
.OBTreeGridCellErrorEditDisabledDark {
  font-family: arial, sans-serif;
  font-size: 12px;
  vertical-align: middle;  
  border: 1px solid #cdd7bb;
  border-width: 0px 1px 1px 0px;
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;  
/*  margin: 0px; */
  padding: 0px 4px 0px 4px;
}

.OBTreeGridHeaderCellTitle,
.OBTreeGridHeaderCellTitleOver,
.OBTreeGridHeaderCellTitleDown,
.OBTreeGridHeaderCellTitleSelected,
.OBTreeGridHeaderCellTitleSelectedOver,
.OBTreeGridHeaderCellTitleSelectedDown,
.OBTreeGridHeaderCellTitleDisabled,
.OBTreeGridHeaderCellTitleSelectedDisabled {
  font-size: 11px;
  font-family: 'lucida sans', sans-serif;
  font-weight: bold;
  border: 1px solid #BBBFB6;
  border-width: 0px 1px 0px 0px;
  text-align: center;
  background: none;
}

.OBTreeGridCellSelected,
.OBTreeGridCellSelectedDark {
  background-color: #ffe1c0; /* Orange for active grid, for non active grid: #b8d587 */
}

.OBTreeGridCellSelectedOver,
.OBTreeGridCellSelectedOverDark {
  background-color: #ffe1c0;
}

.OBTreeGridCellOver,
.OBTreeGridCellOverDark,
.OBTreeGridCellEditOver,
.OBTreeGridCellEditOverDark {
  background-color: #e1e1e1;  /* Orange for active grid, for non active grid: #dbe6c7 */
}
