[submodule "modules/org.openbravo.mobile.core"]
	path = modules/org.openbravo.mobile.core
	url = git@gitlab.com:openbravo/product/pmods/org.openbravo.mobile.core
[submodule "modules/org.openbravo.retail.pack"]
	path = modules/org.openbravo.retail.pack
	url = git@gitlab.com:openbravo/product/pmods/org.openbravo.retail.pack
[submodule "modules/org.openbravo.retail.config"]
	path = modules/org.openbravo.retail.config
	url = git@gitlab.com:openbravo/product/pmods/org.openbravo.retail.config
[submodule "modules/org.openbravo.retail.posterminal"]
	path = modules/org.openbravo.retail.posterminal
	url = git@gitlab.com:openbravo/product/pmods/org.openbravo.retail.posterminal
[submodule "modules/org.openbravo.retail.poshwmanager"]
	path = modules/org.openbravo.retail.poshwmanager
	url = git@gitlab.com:openbravo/product/pmods/org.openbravo.retail.poshwmanager
[submodule "modules/org.openbravo.retail.discounts"]
	path = modules/org.openbravo.retail.discounts
	url = git@gitlab.com:openbravo/product/pmods/org.openbravo.retail.discounts
[submodule "modules/org.openbravo.retail.sampledata"]
	path = modules/org.openbravo.retail.sampledata
	url = git@gitlab.com:openbravo/product/pmods/org.openbravo.retail.sampledata
[submodule "modules/org.openbravo.retail.returns"]
	path = modules/org.openbravo.retail.returns
	url = git@gitlab.com:openbravo/product/pmods/org.openbravo.retail.returns
